/Node.class
/Assign.class
/BinaryOp.class
/Compound.class
/NoOp.class
/Num.class
/Program.class
/UnaryOp.class
/Var.class
/BinOp.class
/Bool.class
/Post.class
/ArithOp.class
/String.class
/Stringy.class
/NodeType.class
/Datatype.class
/IfStatement.class
/WhileStatement.class
